@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

#container{width: 900px;
margin:0 auto;}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #98C0B4;
}

nav li {
  float: right;
	
}

nav li a {
  display: block;
  color: #F4ECDC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color:#618076;
}
.hero{
	height: 250px;
	background-color: #F4ECDC;
}